@media (max-width: 1120px){
    .cabecalho .logo{
        max-width: 190px;
    }

    .selecao-de-personagens{
        flex-direction: column-reverse;
        max-width: 300px;
        margin: 0 auto;
    }

    .selecao-de-personagens .personagens{
        margin-top: 30px;
    }

    .selecao-de-personagens .personagens .titulo{
        font-size: 10px;
    }

    .selecao-de-personagens .lista-de-personagem{
        gap: 5px;
    }
    
    .selecao-de-personagens .personagem img{
        width: 65px;
    }

    .personagem-selecionado .personagem-grande{
        width: 300px;
        height: 300px;
    }

    .personagem-selecionado .descricaç-personagem{
        width: 65px;
        font-size: 10px;
        margin: 10px auto;
    }
}